# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# Data and results
/data/
/results/
*.csv
*.h5
*.pt
*.pth
*.tar.gz

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


# Ignore backup files
*~

# Ignore test outputs
results.py/
